{% load cart_template_tags %} {% load static %}
<nav
  class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar"
>
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="/">
      <strong class="blue-text">DJe-commerce</strong>
    </a>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
      <li class="nav-item">
        <a class="nav-link" href="{% url 'core:checkout' %}">Checkout</a>
      </li>
    </ul>
    <!-- Collapse -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <ul class="navbar-nav mr-auto">
      
      </ul>

      {% if request.user.is_authenticated %}
      <div class="d-flex justify-content-center align-items-center">
        <!-- Cart Icon -->
        <a class="nav-link me-3 position-relative" href="{% url 'core:order-summary' %}">
          <i
            class="fas fa-shopping-cart"
            style="font-size: 17px; color: blue"
          ></i>
          <!-- Badge -->
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            style="
              font-size: 12px;
              padding: 3px 5px;
              transform: translate(-50%, -50%);
            "
          >
            {{ request.user|cart_item_count }}
          </span>
        </a>
      </div>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a
            class="nav-link waves-effect"
            href="{% url 'core:account_logout' %}"
          >
            <span class="clearfix d-none d-sm-inline-block"> Logout </span>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a
            class="nav-link waves-effect"
            href="{% url 'core:account_login' %}"
          >
            <span class="clearfix d-none d-sm-inline-block"> Login </span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link waves-effect"
            href="{% url 'core:account_signup' %}"
          >
            <span class="clearfix d-none d-sm-inline-block"> Signup </span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
